<?xml version="1.0"?>
<odoo>
  <!-- Le Menu principal dans le Home menu de odoo: Assurfaz -->
  <menuitem id="menu_principal_assurfaz" name="Assurfaz" action="action_assurfaz" />
  
  <!-- action  -->
  <record id="action_assurfaz" model="ir.actions.act_window">
    <field name="name">Gestion des compagnies d’assurance et courtiers en assurance</field>
    <field name="type">ir.actions.act_window</field>
    <field name="res_model">assurance.assurfaz</field>
    <field name="view_mode">tree,form</field>
    
  </record>

 <!-- menu  pour les assurances auto-->
  <menuitem id="smenus_assurance_auto" name="Assurance Auto" parent="menu_principal_assurfaz" action="action_assurance_auto" />
  <!-- action  pour les assurances auto-->
  <record id="action_assurance_auto" model="ir.actions.act_window">
    <field name="name">Assurance auto</field>
    <field name="type">ir.actions.act_window</field>
    <field name="res_model">assurfaz.auto</field>
    <field name="view_mode">tree,form</field>
  </record>
 

</odoo>  